<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net35" />
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net35" requireReinstallation="true" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net35" />
  <package id="itextsharp.xmlworker" version="5.5.13.3" targetFramework="net35" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net35" />
</packages>